1 24 "pgen-icc-companion.manifest"
1 ICON "../favicon.ico"

1 VERSIONINFO
FILEVERSION 1,4,21,0
PRODUCTVERSION 1,4,21,0
 FILEOS 0x40004
 FILETYPE 0x1
BEGIN
 BLOCK "StringFileInfo"
 BEGIN
  BLOCK "040904b0"
  BEGIN
   VALUE "CompanyName", "PGenerator+"
   VALUE "FileDescription", "PGenerator+ Patch Companion"
   VALUE "FileVersion", "1.4.21"
   VALUE "InternalName", "PGeneratorPlusPatchCompanion"
   VALUE "OriginalFilename", "PGeneratorPlusPatchCompanion.exe"
   VALUE "ProductName", "PGenerator+ Patch Companion"
   VALUE "ProductVersion", "1.4.21"
  END
 END
 BLOCK "VarFileInfo"
 BEGIN
  VALUE "Translation", 0x0409, 1200
 END
END
